*{
    padding: 0px;
    margin: 0px;
    font-family: sans-serif;
}
summary{
    list-style-type: none;
}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.absolute{
    position: absolute;
}

::-webkit-scrollbar {
  width: 3px;
}
::-webkit-scrollbar-track {
  background: #100E17;
}
::-webkit-scrollbar-thumb {
  background: #3d3361;
}
::-webkit-scrollbar-thumb:hover {
  background: #2c234d;
}