/* nav bar */
.main-nav {
  padding-top: 20px;
  font-weight: 700;
  font-size: 25px;
  display: flex;
  margin: 0px 10%;
  justify-content: space-between;
  align-items: center;
}
.logo {
  font-size: 40px;
}
.options {
  padding-top: 10px;
  display: flex;
  justify-content: center;
  align-content: center;
  gap: 10px;
}
.mr {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.ml {
  display: flex;
  gap: 15px;
  justify-content: center;
  align-items: center;
}

/* drop down menu */
.dropbtn {
  font-family: "Oxanium", sans-serif;
  font-size: 25px;
  font-weight: 700;
  color: #f0f8ff;
  border: none;
  background: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: flex;
  transition: all 1s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  -o-transition: all 1s;
  position: absolute;
  color: #fff;
  width: 100%;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  height: 0px;
  overflow: hidden;
  a {
    color: #fff;
  }
}

.dropdown-content a {
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  height: 30px;
}

.dropdown:hover .dropdown-content {
  height: calc(60px + 12 * 4px);
  height: calc(100 * 2% + 12 * 4px);
}
.dropdown-line {
  height: calc(60px + 12 * 4px);
  width: 1px;
  background: rgb(255, 255, 255);
}

/* discord icon */
.discord-icon {
  height: 60px;
  transition: all 1s;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  -o-transition: all 1s;
}

path {
  transition: fill 0.4s ease;
}
.discord-icon path {
  fill: #000000;
}
.discord-icon:hover path {
  fill: #8897f4;
}

/* responsive */
@media (max-width: 700px) {
  .ml {
    display: none;
  }
  .main-nav {
    margin: 0px 5%;
  }
  .options {
    gap: 5px;
  }
}
