.nav-body{
    position: absolute;
    top: 0px;
    z-index: 2;

    height: 100px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    animation-name: revealsudden;
    animation-duration: 0.5s
}
.nav-body a{
    text-decoration: none;
}
.nav-logo{
    display: flex;
    align-items: center;
}
.nav-logo-img{
    height: 50px;
}
.nav-logo-text{
    padding-left: 10px;
}

/* PC */
@media (min-width:1024px) {
    #home{
        display: flex;
        justify-content: center;
    }
    .nav-body{
        width: 80%;
    }
    .menu-body{
        position: absolute;
        top: 70px;
    }
    .nav-text{
        display: flex;
        justify-content: space-evenly;
    }
    .nav-text h1{
        font-size: 25px;
        padding-right: 20px;
    }
    .nav-text a{
        text-decoration: none;
    }
}
@media (max-width:1023px) {
    .nav-body{
        width: 100%;
    }
    .nav-logo{
        padding: 10px;
    }
    .menu-icon{
        padding: 10px;
    }
    .menu-body{
        z-index: 1;
        position: absolute;
        top: 80px;
        right: 20px;
        padding: 10px;

        height: auto;
        width: 40%;

        background-color: #163dbd0e;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        border-radius: 30px 0 30px 30px;
        border: 2px var(--darktheme-border) solid;
        box-shadow: 0 0 10px rgb(26, 29, 63);
    }
    .menu-body a{
        font-size: 25px;
        font-weight: 600;
        text-decoration: none;
        padding-left: 10px;
    }
    .menu-body h1{
        font-size: 27px;
        width: 100%;
        padding: 10px 0px 10px 0px;
        border-radius: 6px;
    }
    .menu-body h1:hover{
        background-color: rgb(10, 89, 194);
    }
}