.nav-body{
    position: absolute;
    top: 0px;
    z-index: 2;

    height: 70px;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;

}
.nav-body a{
    text-decoration: none;
}
.nav-logo{
    display: flex;
    align-items: center;
    padding: 10px;
}
.nav-logo-img{
    height: 50px;
}
.nav-logo-text{
    padding-left: 10px;
}

/* PC */
@media (min-width:1024px) {
    .menu-body{
        position: absolute;
        top: 70px;
    }
    .nav-text{
        display: flex;
        justify-content: space-evenly;
    }
    .nav-text h1{
        font-size: 25px;
        padding-right: 20px;
    }
    .nav-text a{
        text-decoration: none;
    }
}
@media (max-width:1023px) {
    .nav-body{
        background-color: var(--bg-secondary);
    }
    .menu-icon{
        padding: 10px;
    }
    .menu-body{
        z-index: 1;
        position: absolute;
        top: 70px;
        left: 0;
        right: 0;
        margin: auto;
        height: auto;
        padding: 10px;

        background-color: var(--bg-third);
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        border-radius: 0 0 10px 10px;
        border: 2px var(--darktheme-border) solid;
        box-shadow: 0 0 10px rgb(26, 29, 63);
    }
    .menu-body a{
        font-size: 25px;
        font-weight: 600;
        text-decoration: none;
        padding-left: 10px;
    }
    .menu-body h1{
        width: 100%;
        padding: 10px 0px 10px 0px;
        border-radius: 6px;
    }
    .menu-body h1:hover{
        background-color: rgb(10, 89, 194);
    }
}