.hero-wave{
    width: 100%;
    height: 100vh;
    position: absolute;
    background-image: url(http://front-end-noobs.com/jecko/img/wave-top.png);
    background-repeat: repeat-x;
    background-position: bottom;
    background-size: 00px;
    animation: wave 2s infinite ease-in-out;
}
.top{
    background-image: url(/media/pictures/main-bg.webp);
    overflow: hidden;
    width: 100%;
    height: 100vh;
    background-size: cover;
    display: flex;
    flex-direction: column;
}
.top-description{
    z-index: 0;
    position: absolute;
    width: 100%;
    height: 100vh;

    display: flex;
    align-items: center;
    align-content: center;
}
.top-text-area{
    padding-left: 15%;
}
.top-logo{
    position: absolute;
    top: 83vh;
    padding-left: 15%;
    display: flex;
}
.top-logo a{
    margin-right: 20px;
}
.top-logo-icon{
    height: 50px;
    padding-right: 50px;
}

.nav-body{
    animation-name: revealsudden;
    animation-duration: 1.5s;
}
.tta1{
    text-wrap: nowrap;
    animation-name: revealsudden;
    animation-duration: 2s;
}
.tta2{
    text-wrap: nowrap;
    animation-name: revealsudden;
    animation-duration: 3s;
}
.tta3{
    text-wrap: nowrap;
    animation-name: revealsudden;
    animation-duration: 4s;
}
.top-logo a{
    animation-name: revealsudden;
    animation-duration: 5s;
}
.menu-body{
    animation-name: animationreveal;
    animation-duration: 2s;
}
.menu-body a{
    animation-name: revealsudden;
    animation-duration: 3s;
}

@media (min-width:1024px) {
    .top-description{
        height: 100vh;
    }
    .nav-body .mobile{
        display: none;
    }
    .cat-section{
        position: absolute;
        top: 0px;
        left: 50vw;
        display: flex; 
        width:50vw;
        height:100vh;
        justify-content: center;
        align-content: center;
        align-items: center;
        animation: revealsudden 3s;
    }
    .cat{
        position: relative;
        animation: tilt-shaking 1s;
        display: flex;
        width:200px;
        height:100px;
        bottom:0px;
        right: 1px;
        align-items: center;
        justify-content: center;
    }
    #cat-text{
        position: absolute;
        top: -100px;
        text-align: center;
        opacity: 0;
    }
    .cat-gun{
        position:absolute;
        width: 100px;
        z-index: 100;
        top:0px;
        opacity: 0;
    }
    .right-funny{
        position: absolute;
        left:-140px;
    }
    .left-funny{
        right:-120px;
    }
    .cat-body{
        position: absolute;
    }
    .cat-eyes{
        position: absolute;
        right:100px;
        animation: blink 5s infinite;
    }
    .cat-mark{
        width: 30px;
        height: 30px;
        position: absolute;
        right: 2vw;
        top:0px;

        animation:hide 1s;
        animation-fill-mode: forwards;
    }
    .cat-mouth{
        position: absolute;
        left: 0vw;
        bottom:0vh;
    }
}
@media (max-width:1023px) {
    .menu-icon{
        padding-right:10px;
    }
    .nav-body .pc{
        display: none;
    }
    .top{
        height: 100vh;
        
    }
    .top-description{
        height: 100vh;
    }
    .top-logo{
        position: absolute;
        top: 83vh;
        display: flex;
        padding-left: 8%;
    }
    .top-text-area{
        padding-left: 8%;
        padding-right: 8%;
    }
    .cat-section{
        top: 50vh;
        left: 70vw;
        height: auto;
        width: auto;
        position: absolute;
        display: flex;
        justify-content: center;
        align-content: center;
        animation: revealsudden 3s;
    }
    .cat-section{
        display: none;
    }
}
@media (max-width:500px) {
    .top-text-area{
        padding-left: 5%;
        padding-right: 5%;
    }
    .top-logo{
        padding: none;
        margin: none;
        padding-left: 5%;
    }
    .top-logo-icon{
        padding-right: 0px;
    }
}